@import '~antd/dist/antd.css';

.App {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.App__main {
  padding-top: 190px;
  flex: 1;
  display: flex;
  flex-direction: column;
  max-width: 1024px;
  margin: auto;
}

@media (max-width: 1023px) {
  .App__main {
    max-width: 100%;
    width: 100%;
    padding-top: 80px;
  }
}
